.background{
    box-sizing: border-box;
    min-width:690px;
    height: 100%;
    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    display:flex;
}
.left{
    border: #FFFFFF;
    align-items: center;
    width: 50%;
    height: 700px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: white;
    min-width: 700px;
}
.right{
    font-size: 20px;
}

.image{  
    margin-top: 15%; 
}

.title{
    padding: 2vw;
    background-color: white;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}
.title2{
    margin-left: 2vw;
    padding:2vw;
    background-color: white;
    
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.17em;
    justify-content: left;

    color: #000000;
}
.a{
    font-size: 20px;
}
.a:hover{
    color: blue;
}
@media (max-width: 1000px) {
    .left{
      display: none;
      background-color: aqua;
    }
    .right{
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        background-color: aquamarine;
       
     
    }
    .title{
        width: 100vw;
        text-align: center;
        color: #000000;
    }
    .title2{
        
        padding: 20px;
        background-color: white;
        
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0.17em;
        justify-content: left;
        min-width: 80vw;
    
        color: #000000;
    }

}
@media (max-width: 700px) {

    .title{
        width: 100vw;
        text-align: left;
        color: #000000;
    }


}