.logo {
    position: relative;
    width: 79px;
    height: 78px;
    left: 120px;
    top: 30px;
}
.hr {
    position: absolute;
    width: 1200px;
    height: 0px;
    left: 200px;
    top: 130px;

    border: 1px solid #ffff;
}

.floor1_btn {
    position: absolute;
    width: 103px;
    height: 30px;
    left: 955px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    color: #000000;
    box-sizing: border-box;
    align-items: flex-start;
    background: #FFFFFF;
    border: 1px solid #B3B3B3;
    box-shadow: inset -1px 0px 0px #B3B3B3, inset 1px 0px 0px #B3B3B3, inset 0px -1px 0px #FFFFFF;
    border-radius: 8px 8px 0px 0px;
}
.floor1_btn:hover{
    color: rgb(92, 193, 252);
    font-weight: bold;
}
.floor2_btn {
    position: absolute;
    width: 103px;
    height: 30px;
    left: 1065px;
    background: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    color: #000000;
    box-sizing: border-box;
    align-items: flex-start;
    background: #FFFFFF;
    border: 1px solid #B3B3B3;
    box-shadow: inset -1px 0px 0px #B3B3B3, inset 1px 0px 0px #B3B3B3, inset 0px -1px 0px #FFFFFF;
    border-radius: 8px 8px 0px 0px;
    color: rgb(92, 193, 252);
    font-weight: bold;
}
.floor2_btn:hover{
    color: rgb(92, 193, 252);
    font-weight: bold;
}

.floor3_btn {
    position: absolute;
    width: 103px;
    height: 30px;
    left: 1175px;
    background: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    color: #000000;
    box-sizing: border-box;
    align-items: flex-start;
    background: #FFFFFF;
    border: 1px solid #B3B3B3;
    box-shadow: inset -1px 0px 0px #B3B3B3, inset 1px 0px 0px #B3B3B3, inset 0px -1px 0px #FFFFFF;
    border-radius: 8px 8px 0px 0px;
}
.floor3_btn:hover{
    color: rgb(92, 193, 252);
    font-weight: bold;
}
.layer {
    position: relative;
    display: flex;
    
}

.vacant_btn {
    position: absolute;
    width: 20px;
    height: 20px;
    left:100px;
    background: #54B435;
    border-radius: 120px;
    cursor: pointer;
}
.vacant_lbl{
    position: absolute;
    width: 158px;
    left: 130px;
    top: 3px;

    font-family: 'Orienta';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}

.occupied_btn {
    position: absolute;
    width: 20px;
    height: 20px;
    left:270px;
    background: red;
    border-radius: 120px;
    cursor: pointer;
}
.occupied_lbl{
    position: absolute;
    width: 158px;
    left: 300px;
    top: 3px;

    font-family: 'Orienta';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}


.container{
    position: relative;
    width: 100%;
    height: 700px;
    background: linear-gradient(0deg, rgba(119, 208, 207, 0.5), rgba(119, 208, 207, 0.5)), rgba(175, 217, 213, 0.5);
    mix-blend-mode: normal;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.container1{
    position: absolute;
    width: 1100px;
    height: 530px;
    left: 250px;
    
    background: #EDEEF1;
    border-radius: 60px;
}

.library{
    position: absolute;
    width: 400px;
    height: 100px;
    left: 350px;
    top: 30px;
    
    background: #D8D9DE;
   
}

.library_btn {
    position: absolute;
    width: 30px;
    height: 30px;
    left:10px;
    top: 10px;

    background: red;
    border-radius: 120px;
    cursor: pointer;
}

.library_lbl{
    position: absolute;
    width: 158px;
    height: 68px;
    left: 165px;
    top: 15px;

    font-family: 'Orienta';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}

.room104{
    position: absolute;
    width: 150px;
    height: 100px;
    left: 100px;
    top: 30px;
    
    background: #D8D9DE;
   
}
.room104_btn {
    position: absolute;
    width: 20px;
    height: 20px;
    left:8px;
    top: 10px;

    background: red;
    border-radius: 150px;
    cursor: pointer;
}

.room104_lbl{
    position: absolute;
    width: 158px;
    height: 68px;
    left: 30px;
    top: 15px;

    font-family: 'Orienta';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}

.room103{
    position: absolute;
    width: 150px;
    height: 100px;
    left: 100px;
    top: 140px;
    
    background: #D8D9DE;
   
}
.room103_btn {
    position: absolute;
    width: 20px;
    height: 20px;
    left:8px;
    top: 10px;

    background: #54B435;
    border-radius: 150px;
    cursor: pointer;
}

.room103_lbl{
    position: absolute;
    width: 158px;
    height: 68px;
    left: 30px;
    top: 20px;

    font-family: 'Orienta';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}
.room102{
    position: absolute;
    width: 150px;
    height: 100px;
    left: 100px;
    top: 290px;
    
    background: #D8D9DE;
    
   
}

.room102_btn {
    position: absolute;
    width: 20px;
    height: 20px;
    left:8px;
    top: 10px;

    background: #54B435;
    border-radius: 150px;
    cursor: pointer;
}

.room102_lbl{
    position: absolute;
    width: 158px;
    height: 68px;
    left: 30px;
    top: 20px;

    font-family: 'Orienta';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}

.room101{
    position: absolute;
    width: 150px;
    height: 100px;
    left: 100px;
    top: 400px;
    
    background: #D8D9DE;
   
}
.room101_btn {
    position: absolute;
    width: 20px;
    height: 20px;
    left:8px;
    top: 10px;

    background: red;
    border-radius: 150px;
    cursor: pointer;
}

.room101_lbl{
    position: absolute;
    width: 158px;
    height: 68px;
    left: 30px;
    top: 20px;

    font-family: 'Orienta';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}

.room109{
    position: absolute;
    width: 150px;
    height: 100px;
    left: 850px;
    top: 30px;
    
    background: #D8D9DE;
   
}
.room109_btn {
    position: absolute;
    width: 20px;
    height: 20px;
    left:8px;
    top: 10px;

    background: #54B435;
    border-radius: 150px;
    cursor: pointer;
}

.room109_lbl{
    position: absolute;
    width: 158px;
    height: 68px;
    left: 30px;
    top: 15px;

    font-family: 'Orienta';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}

.room110{
    position: absolute;
    width: 150px;
    height: 100px;
    left: 850px;
    top: 140px;
    
    background: #D8D9DE;
   
}

.room110_btn {
    position: absolute;
    width: 20px;
    height: 20px;
    left:8px;
    top: 10px;

    background: red;
    border-radius: 150px;
    cursor: pointer;
}

.room110_lbl{
    position: absolute;
    width: 158px;
    height: 68px;
    left: 30px;
    top: 20px;

    font-family: 'Orienta';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}

.room111{
    position: absolute;
    width: 150px;
    height: 100px;
    left: 850px;
    top: 290px;
    
    background: #D8D9DE;
   
}

.room111_btn {
    position: absolute;
    width: 20px;
    height: 20px;
    left:8px;
    top: 10px;

    background: #54B435;
    border-radius: 150px;
    cursor: pointer;
}

.room111_lbl{
    position: absolute;
    width: 158px;
    height: 68px;
    left: 30px;
    top: 20px;

    font-family: 'Orienta';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}

.room112{
    position: absolute;
    width: 150px;
    height: 100px;
    left: 850px;
    top: 400px;
    
    background: #D8D9DE;
    
   
}

.room112_btn {
    position: absolute;
    width: 20px;
    height: 20px;
    left:8px;
    top: 10px;

    background: red;
    border-radius: 150px;
    cursor: pointer;
    

}

.room112_lbl{
    position: absolute;
    width: 158px;
    height: 68px;
    left: 30px;
    top: 20px;

    font-family: 'Orienta';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}