.logo {
    position: relative;
    width: 79px;
    height: 78px;
    left: 50px;
    top: 20px;
}

.home {
    position: relative;
    width: 50px;
    height: 50px;
    left: 50px;
    top: 450px;
    background: transparent;
    border: 1px solid #B3B3B3;
    box-shadow: inset -1px 0px 0px #B3B3B3, inset 1px 0px 0px #B3B3B3, inset 0px -1px 0px #FFFFFF;
    border-radius: 8px 8px 0px 0px;
    color: rgb(92, 193, 252);
    font-weight: bold;
}

.hr {
    position: absolute;
    width: 80vw;
    height: 0px;
    left: 145px;
    top: 120px;
    border: 1px solid black;
}

.floor1_btn {
    position: absolute;
    width: 103px;
    height: 30px;
    left: 59vw;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    color: #000000;
    box-sizing: border-box;
    align-items: flex-start;
    background: #FFFFFF;
    border: 1px solid #B3B3B3;
    box-shadow: inset -1px 0px 0px #B3B3B3, inset 1px 0px 0px #B3B3B3, inset 0px -1px 0px #FFFFFF;
    border-radius: 8px 8px 0px 0px;
    font-weight: bold;
}

.floor1_btn:hover {
    color: rgb(92, 193, 252);
    font-weight: bold;
}

.floor3_btn {
    position: absolute;
    width: 103px;
    height: 30px;
    left: 75vw;
    background: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    color: #000000;
    box-sizing: border-box;
    align-items: flex-start;
    background: #FFFFFF;
    border: 1px solid #B3B3B3;
    box-shadow: inset -1px 0px 0px #B3B3B3, inset 1px 0px 0px #B3B3B3, inset 0px -1px 0px #FFFFFF;
    border-radius: 8px 8px 0px 0px;
    font-weight: bold;
}

.floor3_btn:hover {
    color: rgb(92, 193, 252);
    font-weight: bold;
}

.layer {
    position: relative;
    display: flex;
}

.vacant_btn {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 100px;
    background: #54B435;
    border-radius: 120px;
    cursor: pointer;
}

.vacant_lbl {
    position: absolute;
    width: 158px;
    left: 6.7em;
    font-family: 'Orienta', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.occupied_btn {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 270px;
    background: red;
    border-radius: 120px;
    cursor: pointer;
}

.occupied_lbl {
    position: absolute;
    width: 20vw;
    height: 3vh;
    left: 15em;
    font-family: 'Orienta', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.container {
    position: relative;
    max-height: 1000px;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background: linear-gradient(0deg, rgba(119, 208, 207, 0.5), rgba(119, 208, 207, 0.5)), rgba(175, 217, 213, 0.5);
    mix-blend-mode: normal;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.container1 {
    position: absolute;
    width: 70vw;
    height: 65vh;
    margin-left: 15vw;
    margin-right: 15vw;
    background: #EDEEF1;
    border-radius: 60px;
}

.library {
    position: absolute;
    width: 30vw;
    height: 17vh;
    margin-top: 2em;
    left: 20vw;
    background: #D8D9DE;
}

.library_btn {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 1.7em;
    left: 2em;
    background: red;
    border-radius: 120px;
    cursor: pointer;
}

.library_lbl {
    position: absolute;
    width: 30vw;
    height: 68px;
    padding-left: 12vw;
    padding-top: 8vh;
    overflow-wrap: break-word;
    font-family: 'Orienta', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.room104 {
    position: absolute;
    width: 12vw;
    height: 11vh;
    left: 3.4vw;
    top: 2.4vh;
    background: #D8D9DE;
}

.room104_btn {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 8px;
    top: 10px;
    background: red;
    border-radius: 150px;
    cursor: pointer;
}

.room104_lbl {
    position: absolute;
    width: 158px;
    height: 68px;
    top: 1.4vh;
    left: 2vw;
    font-family: 'Orienta', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.room103 {
    position: absolute;
    width: 12vw;
    height: 11vh;
    left: 3.4vw;
    top: 15.4vh;
    background: #D8D9DE;
}

.room103_btn {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 8px;
    top: 10px;
    background: #54B435;
    border-radius: 150px;
    cursor: pointer;
}

.room103_lbl {
    position: absolute;
    width: 158px;
    height: 68px;
    top: 1.4vh;
    left: 2vw;
    font-family: 'Orienta', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.room102 {
    position: absolute;
    width: 12vw;
    height: 11vh;
    left: 3.4vw;
    top: 32vh;
    background: #D8D9DE;
}

.room102_btn {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 8px;
    top: 10px;
    background: #54B435;
    border-radius: 150px;
    cursor: pointer;
}

.room102_lbl {
    position: absolute;
    width: 158px;
    height: 68px;
    top: 1.4vh;
    left: 2vw;
    font-family: 'Orienta', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.room101 {
    position: absolute;
    width: 12vw;
    height: 11vh;
    left: 3.4vw;
    top: 45vh;
    background: #D8D9DE;
}

.room101_btn {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 8px;
    top: 10px;
    background: red;
    border-radius: 150px;
    cursor: pointer;
}

.room101_lbl {
    position: absolute;
    width: 158px;
    height: 68px;
    top: 1.4vh;
    left: 2vw;
    font-family: 'Orienta', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.room109 {
    position: absolute;
    width: 12vw;
    height: 11vh;
    right: 3.4vw;
    top: 2.4vh;
    background: #D8D9DE;
}

.room109_btn {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 8px;
    top: 10px;
    background: #54B435;
    border-radius: 150px;
    cursor: pointer;
}

.room109_lbl {
    position: absolute;
    width: 158px;
    height: 68px;
    top: 1.4vh;
    left: 2vw;
    font-family: 'Orienta', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.room110 {
    position: absolute;
    width: 12vw;
    height: 11vh;
    right: 3.4vw;
    top: 15.4vh;
    background: #D8D9DE;
}

.room110_btn {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 8px;
    top: 10px;
    background: red;
    border-radius: 150px;
    cursor: pointer;
}

.room110_lbl {
    position: absolute;
    width: 158px;
    height: 68px;
    top: 1.4vh;
    left: 2vw;
    font-family: 'Orienta', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.room111 {
    position: absolute;
    width: 12vw;
    height: 11vh;
    right: 3.4vw;
    top: 32vh;
    background: #D8D9DE;
}

.room111_btn {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 8px;
    top: 10px;
    background: #54B435;
    border-radius: 150px;
    cursor: pointer;
}

.room111_lbl {
    position: absolute;
    width: 158px;
    height: 68px;
    top: 1.4vh;
    left: 2vw;
    font-family: 'Orienta', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.room112 {
    position: absolute;
    width: 12vw;
    height: 11vh;
    right: 3.4vw;
    top: 45vh;
    background: #D8D9DE;
}

.room112_btn {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 8px;
    top: 10px;
    background: red;
    border-radius: 150px;
    cursor: pointer;
}

.room112_lbl {
    position: absolute;
    width: 158px;
    height: 68px;
    top: 1.4vh;
    left: 2vw;
    font-family: 'Orienta', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.active {
    position: absolute;
    width: 103px;
    height: 30px;
    left: 67vw;
    background: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    color: #000000;
    box-sizing: border-box;
    align-items: flex-start;
    background: #FFFFFF;
    border: 1px solid #B3B3B3;
    box-shadow: inset -1px 0px 0px #B3B3B3, inset 1px 0px 0px #B3B3B3, inset 0px -1px 0px #FFFFFF;
    border-radius: 8px 8px 0px 0px;
    color: rgb(92, 193, 252);
    font-weight: bold;
}

@media screen and (max-width: 1140px) {
    .library_lbl {
        padding-left: 10vw;
        font-size: 100%;
    }

    .library_btn {
        width: 20px;
        height: 20px;
    }

    .room104_lbl{
        font-size: 95%;
    }

    .room104_btn{
        width:15%;
        height:20%;
    }

    .room103_lbl{
        font-size: 95%;
    }

    .room103_btn{
        width:15%;
        height:20%;
    }

    .room102_lbl{
        font-size: 95%;
    }
    .room102_btn{
        width:15%;
        height:20%;
    }

    .room101_lbl{
        font-size: 95%;
    }
    .room101_btn{
        width:15%;
        height:20%;
    }

    .room109_lbl{
        font-size: 95%;
    }
    .room109_btn{
        width:15%;
        height:20%;
    }

    .room110_lbl{
        font-size: 95%;
    }
    .room110_btn{
        width:15%;
        height:20%;
    }

    .room111_lbl{
        font-size: 95%;
    }

    .room111_btn{
        width:15%;
        height:20%;
    }
    .room112_lbl{
        font-size: 95%;
    }

    .room112_btn{
        width:15%;
        height:20%;
    }

    .active {
        width: 80%;
        font-size: 90%;
    }

    .floor1_btn{
        width:80%;
        font-size: 90%;
    }

    .floor3_btn{
        width:80%;
        font-size: 90%;
    }

    .vacant_lbl{
        margin-left: 45%;
        
        font-size: 90%;
    }    

    .occupied_btn{
        margin-left: -60%;
        width:20%;
        height:20%; 
    }

    .occupied_lbl{
        margin-left: 35%;
        font-size: 90%;
    }
}

@media screen and (max-width: 759px) {
    .container{
        width: 759px;
        height: 889px;
    }

    .container1{
        width: 550px;
    }

    .library{
        width: 228px;
        left:155px;
    }

    .room101{
        width: 90px;
        left: 25px;
    }

    .room102{
        width: 90px;
        left: 25px;
    }

    .room103{
        width: 90px;
        left: 25px;
    }

    .room104{
        width: 90px;
        left: 25px;
    }

    .room109{
        width: 90px;
        right: 25px;
    }

    .room110{
        width: 90px;
        right: 25px;
    }

    .room111{
        width: 90px;
        right: 25px;
    }

    .room112{
        width: 90px;
        right: 25px;
    }

    .hr{
        left: 90px;
        width: 650px;
    }

    .floor1_btn{
        left: 455px;;
    }

    .active{
        left: 515px;
    }

    .floor3_btn{
        left: 575px
    }

    .occupied_lbl{
        left: 231px;
    }
}