.logo {
    position: relative;
    width: 79px;
    height: 78px;
    left: 120px;
    top: 30px;
}
.hr {
    position: absolute;
    width: 1200px;
    height: 0px;
    left: 200px;
    top: 130px;

    border: 1px solid #ffff;
}

.floor1_btn {
    position: absolute;
    width: 103px;
    height: 30px;
    left: 955px;
    

    background: #FFFFFF;
    

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    color: #000000;
}
.floor1_btn:hover{
    color: rgb(92, 193, 252);
    font-weight: bold;
}
.floor2_btn {
    position: absolute;
    width: 103px;
    height: 30px;
    left: 1065px;
    

    background: #FFFFFF;
    

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    color: #000000;
}
.floor2_btn:hover{
    color: rgb(92, 193, 252);
    font-weight: bold;
}

.floor3_btn {
    position: absolute;
    width: 103px;
    height: 30px;
    left: 1175px;
    

    background: #FFFFFF;
    

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    color: #000000;
}
.floor3_btn:hover{
    color: rgb(92, 193, 252);
    font-weight: bold;
}
.layer {
    position: relative;
    display: flex;
    
}

.vacant_btn {
    position: absolute;
    width: 20px;
    height: 20px;
    left:100px;
    background: green;
    border-radius: 120px;
    cursor: pointer;
}
.vacant_lbl{
    position: absolute;
    width: 158px;
    left: 130px;
    top: 3px;

    font-family: 'Orienta';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}

.occupied_btn {
    position: absolute;
    width: 20px;
    height: 20px;
    left:270px;
    background: red;
    border-radius: 120px;
    cursor: pointer;
}
.occupied_lbl{
    position: absolute;
    width: 158px;
    left: 300px;
    top: 3px;

    font-family: 'Orienta';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}


.container{
    position: relative;
    width: 100%;
    height: 700px;
    background: linear-gradient(0deg, rgba(119, 208, 207, 0.5), rgba(119, 208, 207, 0.5)), rgba(175, 217, 213, 0.5);
    mix-blend-mode: normal;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.container1{
    position: absolute;
    width: 1100px;
    height: 530px;
    left: 250px;
    
    background: #EDEEF1;
    border-radius: 60px;
}

.conference{
    position: absolute;
    width: 350px;
    height: 80px;
    left: 650px;
    top: 30px;
    
    background: #D8D9DE;
   
}

.conference_btn {
    position: absolute;
    width: 30px;
    height: 30px;
    left:10px;
    top: 10px;

    background: red;
    border-radius: 120px;
    cursor: pointer;
}

.conference_lbl{
    position: absolute;
    width: 400x;
    left: 70px;
    top: 30px;

    font-family: 'Orienta';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}
.room205{
    position: absolute;
    width: 150px;
    height: 80px;
    left: 100px;
    top: 30px;
    
    background: #D8D9DE;
   
}
.room205_btn {
    position: absolute;
    width: 15px;
    height: 15px;
    left:8px;
    top: 10px;

    background: red;
    border-radius: 150px;
    cursor: pointer;
}

.room205_lbl{
    position: absolute;
    width: 158px;
    height: 68px;
    left: 30px;
    top: 15px;

    font-family: 'Orienta';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}
.room204{
    position: absolute;
    width: 150px;
    height: 80px;
    left: 100px;
    top: 120px;
    
    background: #D8D9DE;
   
}
.room204_btn {
    position: absolute;
    width: 15px;
    height: 15px;
    left:8px;
    top: 10px;

    background: red;
    border-radius: 150px;
    cursor: pointer;
}

.room204_lbl{
    position: absolute;
    width: 158px;
    height: 68px;
    left: 30px;
    top: 15px;

    font-family: 'Orienta';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}

.room203{
    position: absolute;
    width: 150px;
    height: 80px;
    left: 100px;
    top: 210px;
    
    background: #D8D9DE;
   
}
.room203_btn {
    position: absolute;
    width: 15px;
    height: 15px;
    left:8px;
    top: 10px;

    background: green;
    border-radius: 150px;
    cursor: pointer;
}

.room203_lbl{
    position: absolute;
    width: 158px;
    height: 68px;
    left: 30px;
    top: 20px;

    font-family: 'Orienta';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}
.room202{
    position: absolute;
    width: 150px;
    height: 80px;
    left: 100px;
    top: 340px;
    
    background: #D8D9DE;
    
   
}

.room202_btn {
    position: absolute;
    width: 15px;
    height: 15px;
    left:8px;
    top: 10px;

    background: green;
    border-radius: 150px;
    cursor: pointer;
}

.room202_lbl{
    position: absolute;
    width: 158px;
    height: 68px;
    left: 30px;
    top: 20px;

    font-family: 'Orienta';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}

.room201{
    position: absolute;
    width: 150px;
    height: 80px;
    left: 100px;
    top: 430px;
    
    background: #D8D9DE;
   
}
.room201_btn {
    position: absolute;
    width: 15px;
    height: 15px;
    left:8px;
    top: 10px;

    background: red;
    border-radius: 150px;
    cursor: pointer;
}

.room201_lbl{
    position: absolute;
    width: 158px;
    height: 68px;
    left: 30px;
    top: 20px;

    font-family: 'Orienta';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}

.room211{
    position: absolute;
    width: 150px;
    height: 80px;
    left: 850px;
    top: 120px;
    
    background: #D8D9DE;
   
}
.room211_btn {
    position: absolute;
    width: 15px;
    height: 15px;
    left:8px;
    top: 10px;

    background: green;
    border-radius: 150px;
    cursor: pointer;
}

.room211_lbl{
    position: absolute;
    width: 158px;
    height: 68px;
    left: 30px;
    top: 15px;

    font-family: 'Orienta';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}

.room212{
    position: absolute;
    width: 150px;
    height: 80px;
    left: 850px;
    top: 210px;
    
    background: #D8D9DE;
   
}

.room212_btn {
    position: absolute;
    width: 15px;
    height: 15px;
    left:8px;
    top: 10px;

    background: red;
    border-radius: 150px;
    cursor: pointer;
}

.room212_lbl{
    position: absolute;
    width: 158px;
    height: 68px;
    left: 30px;
    top: 20px;

    font-family: 'Orienta';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}

.room213{
    position: absolute;
    width: 150px;
    height: 80px;
    left: 850px;
    top: 340px;
    
    background: #D8D9DE;
   
}

.room213_btn {
    position: absolute;
    width: 15px;
    height: 15px;
    left:8px;
    top: 10px;

    background: green;
    border-radius: 150px;
    cursor: pointer;
}

.room213_lbl{
    position: absolute;
    width: 158px;
    height: 68px;
    left: 30px;
    top: 20px;

    font-family: 'Orienta';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}

.room214{
    position: absolute;
    width: 150px;
    height: 80px;
    left: 850px;
    top: 430px;
    
    background: #D8D9DE;
    
   
}

.room214_btn {
    position: absolute;
    width: 15px;
    height: 15px;
    left:8px;
    top: 10px;

    background: red;
    border-radius: 150px;
    cursor: pointer;
    

}

.room214_lbl{
    position: absolute;
    width: 158px;
    height: 68px;
    left: 30px;
    top: 20px;

    font-family: 'Orienta';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}