.logo {
    position: relative;
    width: 79px;
    height: 78px;
    left: 50px;
    top: 20px;
}

.home {
    position: relative;
    width: 50px;
    height: 50px;
    left: 50px;
    top: 450px;
    background: transparent;
    border: 1px solid #B3B3B3;
    box-shadow: inset -1px 0px 0px #B3B3B3, inset 1px 0px 0px #B3B3B3, inset 0px -1px 0px #FFFFFF;
    border-radius: 8px 8px 0px 0px;
    color: rgb(92, 193, 252);
    font-weight: bold;
}
.hr {
    position: absolute;
    width: 85vw;
    height: 0px;
    left: 8vw;
    top: 120px;
    

    border: 1px solid black;
}

.floor1_btn {
    position: absolute;
    width: 103px;
    height: 30px;
    left: 59vw;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    color: #000000;
    box-sizing: border-box;
    align-items: flex-start;
    background: #FFFFFF;
    border: 1px solid #B3B3B3;
    box-shadow: inset -1px 0px 0px #B3B3B3, inset 1px 0px 0px #B3B3B3, inset 0px -1px 0px #FFFFFF;
    border-radius: 8px 8px 0px 0px;
    
    font-weight: bold;

}
.floor1_btn:hover{
    color: rgb(92, 193, 252);
    font-weight: bold;
}
.floor2_btn {
    position: absolute;
    width: 103px;
    height: 30px;
    left: 67vw;
    background: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    color: #000000;
    box-sizing: border-box;
    align-items: flex-start;
    background: #FFFFFF;
    border: 1px solid #B3B3B3;
    box-shadow: inset -1px 0px 0px #B3B3B3, inset 1px 0px 0px #B3B3B3, inset 0px -1px 0px #FFFFFF;
    border-radius: 8px 8px 0px 0px;

    font-weight: bold;

}
.floor2_btn:hover{
    color: rgb(92, 193, 252);
    font-weight: bold;
}

.layer {
    position: relative;
    width: 80vw;
    
}

.vacant_btn {
    position: absolute;
    width: 20px;
    height: 20px;
    left:100px;
    background: #54B435;
    border-radius: 120px;
    cursor: pointer;
}
.vacant_lbl{
    position: absolute;
    width: 158px;
    left: 130px;
    top: 3px;

    font-family: 'Orienta', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}

.occupied_btn {
    position: absolute;
    width: 20px;
    height: 20px;
    left:270px;
    background: red;
    border-radius: 120px;
    cursor: pointer;
}
.occupied_lbl{
    position: absolute;
    width: 20vw;
    height: 3vh;
    left: 15em;

    font-family: 'Orienta', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}


.container{
    position: relative;
    max-height: 1000px;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background: linear-gradient(0deg, rgba(119, 208, 207, 0.5), rgba(119, 208, 207, 0.5)), rgba(175, 217, 213, 0.5);
    mix-blend-mode: normal;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.container1{
    position: absolute;
    width: 70vw;
    height: 65vh;
    margin-left: 15vw;
    margin-right: 15vw;
    
    background: #EDEEF1;
    border-radius: 60px;
}

.conference{
    position: absolute;
    width: 23vw;
    height: 11vh;
    right: 7.7vw;
    top: 3vh;
    
    background: #D8D9DE;
   
}

.conference_btn {
    position: absolute;
    width: 30px;
    height: 30px;
    left:10px;
    top: 10px;

    background: #54B435;
    border-radius: 120px;
    cursor: pointer;
}

.conference_lbl{
    position: absolute;
    width: 400x;
    left: 70px;
    top: 30px;

    font-family: 'Orienta', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}
.room205{
    position: absolute;
    width: 11vw;
    height: 10vh;
    left: 6vw;
    top: 3vh;
    
    background: #D8D9DE;
   
}
.room205_btn {
    position: absolute;
    width: 15px;
    height: 15px;
    left:8px;
    top: 10px;

    background: red;
    border-radius: 150px;
    cursor: pointer;
}

.room205_lbl{
    position: absolute;
    width: 158px;
    height: 68px;
    left: 30px;
    top: 15px;

    font-family: 'Orienta', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}
.room204{
    position: absolute;
    width: 11vw;
    height: 10vh;
    left: 6vw;
    top: 14vh;
    
    background: #D8D9DE;
   
}
.room204_btn {
    position: absolute;
    width: 15px;
    height: 15px;
    left:8px;
    top: 10px;

    background: red;
    border-radius: 150px;
    cursor: pointer;
}

.room204_lbl{
    position: absolute;
    width: 158px;
    height: 68px;
    left: 30px;
    top: 15px;

    font-family: 'Orienta', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}

.room203{
    position: absolute;
    width: 11vw;
    height: 10vh;
    left: 6vw;
    top: 25vh;
    
    background: #D8D9DE;
   
}
.room203_btn {
    position: absolute;
    width: 15px;
    height: 15px;
    left:8px;
    top: 10px;

    background: #54B435;
    border-radius: 150px;
    cursor: pointer;
}

.room203_lbl{
    position: absolute;
    width: 158px;
    height: 68px;
    left: 30px;
    top: 20px;

    font-family: 'Orienta', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}
.room202{
    position: absolute;
    width: 11vw;
    height: 10vh;
    left: 6vw;
    top: 39vh;
    
    background: #D8D9DE;
    
   
}

.room202_btn {
    position: absolute;
    width: 15px;
    height: 15px;
    left:8px;
    top: 10px;

    background: #54B435;
    border-radius: 150px;
    cursor: pointer;
}

.room202_lbl{
    position: absolute;
    width: 158px;
    height: 68px;
    left: 30px;
    top: 20px;

    font-family: 'Orienta', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}

.room201{
    position: absolute;
    width: 11vw;
    height: 10vh;
    left: 6vw;
    top: 50vh;
    
    background: #D8D9DE;
   
}
.room201_btn {
    position: absolute;
    width: 15px;
    height: 15px;
    left:8px;
    top: 10px;

    background: red;
    border-radius: 150px;
    cursor: pointer;
}

.room201_lbl{
    position: absolute;
    width: 158px;
    height: 68px;
    left: 30px;
    top: 20px;

    font-family: 'Orienta', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}

.room211{
    position: absolute;
    width: 11vw;
    height: 10vh;
    right: 7.7vw;
    top: 15vh;
    
    background: #D8D9DE;
   
}
.room211_btn {
    position: absolute;
    width: 15px;
    height: 15px;
    left:8px;
    top: 10px;

    background: #54B435;
    border-radius: 150px;
    cursor: pointer;
}

.room211_lbl{
    position: absolute;
    width: 158px;
    height: 68px;
    left: 30px;
    top: 15px;

    font-family: 'Orienta', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}

.room212{
    position: absolute;
    width: 11vw;
    height: 10vh;
    right: 7.7vw;
    top: 26vh;
    
    background: #D8D9DE;
   
}

.room212_btn {
    position: absolute;
    width: 15px;
    height: 15px;
    left:8px;
    top: 10px;

    background: red;
    border-radius: 150px;
    cursor: pointer;
}

.room212_lbl{
    position: absolute;
    width: 158px;
    height: 68px;
    left: 30px;
    top: 20px;

    font-family: 'Orienta', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}

.room213{
    position: absolute;
    width: 11vw;
    height: 10vh;
    right: 7.7vw;
    top: 40vh;
    
    background: #D8D9DE;
   
}

.room213_btn {
    position: absolute;
    width: 15px;
    height: 15px;
    left:8px;
    top: 10px;

    background: #54B435;
    border-radius: 150px;
    cursor: pointer;
}

.room213_lbl{
    position: absolute;
    width: 158px;
    height: 68px;
    left: 30px;
    top: 20px;

    font-family: 'Orienta', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}

.room214{
    position: absolute;
    width: 11vw;
    height: 10vh;
    right: 7.7vw;
    top: 51vh;
    
    background: #D8D9DE;
    
   
}

.room214_btn {
    position: absolute;
    width: 15px;
    height: 15px;
    left:8px;
    top: 10px;

    background: red;
    border-radius: 150px;
    cursor: pointer;
    

}

.room214_lbl{
    position: absolute;
    width: 158px;
    height: 68px;
    left: 30px;
    top: 20px;

    font-family: 'Orienta', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
   
}

.active{
    position: absolute;
    width: 103px;
    height: 30px;
    left: 75vw;
    background: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    color: #000000;
    box-sizing: border-box;
    align-items: flex-start;
    background: #FFFFFF;
    border: 1px solid #B3B3B3;
    box-shadow: inset -1px 0px 0px #B3B3B3, inset 1px 0px 0px #B3B3B3, inset 0px -1px 0px #FFFFFF;
    border-radius: 8px 8px 0px 0px;
    color: rgb(92, 193, 252);
    font-weight: bold;
}

@media screen and (max-width: 1100px) {

    .conference_lbl{
        font-size: 100%;
        word-wrap: break-word;
        position: absolute;
        align-items: center;
    }
    
    .conference_btn {
        width: 20px;
        height: 20px;
    }

    
    .room205_lbl {
        font-size: 90%;
        left: 1vw;
    }

    .room205_btn{
        width:15%;
        height:20%;
    }

    .room204_lbl {
        font-size: 90%;
        left: 1vw;
    }

    .room204_btn{
        width:15%;
        height:20%;
    }
    .room203_lbl {
        font-size: 90%;
        left: 1vw;
    }

    .room203_btn{
        width:15%;
        height:20%;
    }
    .room202_lbl {
        font-size: 90%;
        left: 1vw;
    }

    .room202_btn{
        width:15%;
        height:20%;
    }

    .room201_lbl {
        font-size: 90%;
        left: 1vw;
    }

    .room201_btn{
        width:15%;
        height:20%;
    }
    .room211_lbl {
        font-size: 90%;
        left: 1vw;
    }

    .room211_btn{
        width:15%;
        height:20%;
    }
    .room212_lbl {
        font-size: 90%;
        left: 1vw;
    }

    .room212_btn{
        width:15%;
        height:20%;
    }

    .room213_lbl {
        font-size: 90%;
        left: 1vw;
    }

    .room213_btn{
        width:15%;
        height:20%;
    }

    .room214_lbl {
        font-size: 90%;
        left: 1vw;
    }

    .room214_btn{
        width:15%;
        height:20%;
    }


    .floor1_btn {
        width: 80%;
        font-size: 90%;
    }

    .floor2_btn{
        width:80%;
        font-size: 90%;
    }

    .active{
        width:80%;
        font-size: 90%;
    }

    .vacant_btn{
        width:20%;
        height:20%; 
    }

    .vacant_lbl{
        font-size: 90%;
    }    

    .occupied_btn{
        margin-left: -60%;
        width:20%;
        height:20%; 
    }

    .occupied_lbl{
        margin-left: 35%;
        font-size: 90%;
    }

    
}


@media screen and (max-width: 759px) {
    .container{
        width: 759px;
        height: 889px;
    }

    .container1{
        width: 550px;
    }

    .conference{
        width: 228px;
        right: 30px;
    }

    .room201{
        width: 90px;
        left: 30px;
    }

    .room202{
        width: 90px;
        left: 30px;
    }

    .room203{
        width: 90px;
        left: 30px;
    }

    .room204{
        width: 90px;
        left: 30px;
    }

    .room205{
        width: 90px;
        left: 30px;
    }

    .room211{
        width: 90px;
        right: 30px;
    }

    .room212{
        width: 90px;
        right: 30px;
    }

    .room213{
        width: 90px;
        right: 30px;
    }

    .room214{
        width: 90px;
        right: 30px;
    }

    .hr{
        left: 90px;
        width: 650px;
    }

    .floor1_btn{
        left: 455px;;
    }

    .floor2_btn{
        left: 515px;
    }

    .active{
        left: 575px;
    }

    .occupied_lbl{
        left: 231px;
    }
}